<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div id="login-form-cont">

        <h1>Login</h1>
        <form action="/login" method="POST" id="login-form">
            <label for="login/email">Login name/Email:</label><br>
            <input type="text" name="loginName" id="loginName" value="<%= email == undefined ?  '' : email %>"><br>
            <label for="passwordLogin">Password:</label><br>
            <input type="password" name="loginPass"><br><br>
            <input type="submit" value="Submit">
        </form>

        <% if(error != ''){ %>
        <h3 style="color: red">
            <%= error %>
        </h3>
        <% } %>

        <h1><a href="./register">Register Here</a></h1>
    </div>
</body>

</html>